# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environment files
.env
*.env

# Logs
data/logs/
*.log
*.sqlite

# Temporary data
OcchioOnniveggente/data/temp/*
!OcchioOnniveggente/data/temp/.gitkeep

# IDE / editor
.vscode/

# Misc
.DS_Store
